nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
	.container
		.navbar-header
			a.navbar-brand(ui-sref='admin') Administration

.container
	.row
		.col-md-6
			div#map
			input.controls#search(type='text')
		.col-md-6
			form(role='form')
				.form-group
					label Description
					textarea.form-control(ng-model='event.description', rows='15')
				button.btn.btn-default(ng-click='save()') Sauvegarder